@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink-light: #FFE6E6;
  --pink-soft: #E1AFD1;
  --purple-medium: #AD88C6;
  --purple-deep: #7469B6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --pink-light: #222831;
    --pink-soft: #31363F;
    --purple-medium: #76ABAE;
    --purple-deep: #EEEEEE;
  } 
 }

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--pink-light)
    )
    var(--pink-soft);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
